{% extends "base.html" %}

{% block title %}Search game by genre{% endblock %}

{% block content %}
<h2>Search a game by genre</h2>
<hr>
<form method="GET">
    <label>Game genre:</label>
        <select name="genre">
            <option value="rpg">RPG</option>
            <option value="action">action</option>
            <option value="horror">Horror</option>
            <option value="multiplayer">Multiplayer</option>
        </select>
    <br><br>
    <button type="submit">Search</button>
</form>
<br>
<hr>
{% if games %}
<br>
    <table>
        <tr>
            <th>Game title</th>
            <th>Genre</th>
            <th>Rating</th>
        </tr>
        {% for game in games %}
        <tr>
            <td>{{ game.title }}</td>
            <td>{{ game.genre }}</td>
            <td>{{ game.rating }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
<hr>
<br>
<a href="{{ url_for('models_and_queries') }}">Return</a>

{% endblock %}